
  <nav *ngIf="showNavbar">
   
    <mat-toolbar color="primary">
        <span>Chengannagari's blog</span>
        <span class="spacer"></span>
       <button mat-button>Home</button>
       
        <button mat-button>About</button>
        <button mat-button routerLink="signup">SignUp</button>
        <button mat-button routerLink="login">SignIn</button>   
      </mat-toolbar>
      <img src="assets/logo.png" height="500px" width="500px" class="image"/>
      
       

        </nav>

        