<mat-toolbar color="primary">
   <span>Chengannagari's blog</span>
   <span class="spacer"></span>
  <button mat-button routerLink="/">Home</button>
   <button mat-button>About</button>
   <button mat-button routerLink="/login">Signin</button>   
 </mat-toolbar>

<div class="container">
     <form [formGroup]="signup" class="form-box1" (ngSubmit)="signupdata(signup.value)">
     
          <h2>Register Here</h2>

          <!-- first & last names -->
         <div class="names">
            <div class="form-group">
               <label><b>First Name</b></label><small class="text-danger">*</small>
               <input type="text" formControlName="firstName" class="form-control mb-3 mt-3" placeholder="Enter first name" />
               <small *ngIf="signup.get('firstName')?.invalid && signup.get('firstName')?.touched" class="text-danger"> firstname is mandatory</small>
            </div>
  
            <div class="form-group">
              <label><b>Last Name</b></label><small class="text-danger">*</small>
              <input type="text" formControlName="lastName" class="form-control mb-3 mt-3" placeholder="Enter last name" />
              <small *ngIf="signup.get('lastName')?.invalid && signup.get('lastName')?.touched" class="text-danger"> lastname is mandatory</small>
            </div>
         </div>
      
         <!-- gender -->
         <div class="gender">
            <label><b>Gender</b></label><small class="text-danger">*</small><br/>
          <input type="radio" formControlName="gender" value="male" >
          <label for="male">Male</label>
          <input type="radio" formControlName="gender" value="female">
          <label for="female">Female</label>
          <small *ngIf="signup.get('gender')?.invalid && signup.get('gender')?.touched" class="text-danger"> userName is mandatory</small>
          </div><br/>

          <!-- address -->
          <div class="form-group">
             <label><b>Address</b></label><small class="text-danger">*</small>
             <textarea id="address" formControlName="address" class="form-control mb-3 mt-3" placeholder="Enter your address" name="address"oninput="updateCharacter()" maxlength="100" rows="2" cols="30"></textarea>
             <small *ngIf="signup.get('address')?.invalid && signup.get('address')?.touched" class="text-danger"> Address should be mandatory</small>
          </div>

           <!-- phone number -->
          <div class="form-group">
            <label><b>Mobile number</b></label><small class="text-danger">*</small>
            <input type ="phoneNumber" formControlName="phoneNumber" class="form-control mb-3 mt-3" placeholder="Enter your phoneNumber" name="phoneNumber">
            <small *ngIf="signup.get('phoneNumber')?.invalid && signup.get('phoneNumber')?.touched" class="text-danger"> Enter phoneNumber</small>
         </div>
         
          <!-- country, state, dist -->
         <div class="dropdown">
            <div class="form-group">
               <label><b>Country</b></label><small class="text-danger">*</small>
               <select (change)="updateStates($event)" class="form-control mb-3 mt-3">
               <option value="">Select country</option>
               <option value="{{c['id']}}" *ngFor="let c of country">{{c['name']}}</option>
               <small *ngIf="signup.get('country')?.invalid && signup.get('country')?.touched" class="text-danger">enter country</small>
               </select>
            </div>

            <div class="form-group">
              <label><b>State</b></label><small class="text-danger">*</small>
              <select (change)="updateDist($event)" class="form-control mb-3 mt-3">
              <option value="" selected="selected">Select state</option>
              <option value="{{s['id']}}" *ngFor="let s of filteredStates">{{s['name']}}</option>
              <small *ngIf="signup.get('state')?.invalid && signup.get('state')?.touched" class="text-danger"> enter state</small>
              </select>
            </div>

            <div class="form-group">
              <label><b>District</b></label><small class="text-danger">*</small>
              <select  formControlName="district" class="form-control mb-3 mt-3">
              <option value="" selected="selected">Select districts</option>
              <option value="{{d['name']}}" *ngFor="let d of filteredDist">{{d['name']}}</option>
              <small *ngIf="signup.get('district')?.invalid && signup.get('district')?.touched" class="text-danger">enter district</small>
              </select>
            </div>
         </div>

         <!-- username -->
         <div class="form-group">
            <label><b>User Name</b></label><small class="text-danger">*</small>
            <input type="text" formControlName="userName" class="form-control mb-3 mt-3" placeholder="Enter user name" />
            <small *ngIf="signup.get('userName')?.invalid && signup.get('userName')?.touched" class="text-danger"> userName is mandatory</small>
         </div>

         <!-- email & pswd -->
          <div class="credentials">
          <div class="form-group">
             <label><b>Email</b> </label><small class="text-danger">*</small>
             <input type="email" formControlName="email" class="form-control mb-3 mt-3" placeholder="Enter email" />
             <small *ngIf="signup.get('email')?.invalid && signup.get('email')?.touched" class="text-danger"> Invalid  email</small>
          </div>
 
          <div class="form-group">
             <label><b>Password</b></label><small class="text-danger">*</small><br/>
             <input type="password" formControlName="password" class="form-control mb-3 mt-3" placeholder="Password" />
             <small *ngIf="signup.get('password')?.invalid && signup.get('password')?.touched" class="text-danger"> Enter your password with maximum length 10 </small>
          </div>
          </div>

          <!-- image -->
          <div class="form-group>">
            <label for="image">Upload Image:</label><small class="text-danger">*</small>
            <input type="file" id="image" formControlName="image" (change)="onFileChange($event)" accept="image/*" required>
            <small *ngIf="signup.get('image')?.invalid && signup.get('image')?.touched" class="text-danger"> Upload image for your profile  </small>
             <!-- <img *ngIf="previewImage" [src]="previewImage" alt="Preview Image"> -->
          </div>
          <br/>

           <!-- end -->
          <span class="pre"> Already have an Account?  <a routerLink="/login">SignIn</a></span><br/>
          <br/>
          <div class="buttons">
            <button type="submit" [disabled]="signup.invalid"  class="btn btn-primary">Sign up</button>
            <button type="reset"   class="btn btn-secondary">Reset</button>
          </div>
         
         
     </form>
 </div>