.container{
  text-align: center;
  padding-top: 100px;
  font-size: large;
}
.spacer{
  flex: 1 1 auto;
}
.container h2{
  text-align: center;
  font-size:larger;
  font-weight: 700;
  color: rgb(124, 121, 121);
}
.status-success {
    border-bottom: 5px solid green; 
  }
  
  .status-moderate {
    border-bottom: 5px solid rgb(255, 175, 2); 
  }
  
  .status-fail {
    border-bottom: 5px solid red; 
  }
  